.CharacterInfo {
    top: 1vw;
    left: 5vw;
    position: absolute;
    text-align: center;
  }
  .CharacterAvater {
    max-width: 100px;
  }
  .CharacterName{
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 3px 3px #a8a8a8;
  }
  #TextBoxText{
    position: absolute;
    left: 16vw;
    top: 7vh;
    max-width: 70vw;
    font-size: 1.5rem;
    color: white;
  }

  .OriginalText{
    position: relative;
    font-size: 0.9em;
  }

  .ControlButton {
    position: absolute;
    right: 3vw;
    bottom: 3vh;
  }
  .CardContainer {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    min-height: 25vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    cursor: pointer;
  }