div.TextBox{
    position: absolute;
    bottom: 11%;
    left: 7%;
    width: 80%;
    font-size: 18pt;
    color:black;
}
.TextBox-title {
    text-align: center;
    margin-top: 0px;
    font-size: 1.5em;
  }
  
.TextBox-intro {
    margin-top: 0px;
    font-size: 15pt;
    min-height: 30px;
}
  