div.TextBox{
    /* position: absolute;
    bottom: 11%;
    left: 7%;
    width: 80%;
    font-size: 18pt;
    color:black; */
    position: absolute;
            top: 87%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 87%;
}
.TextBox-title {
    text-align: center;
    margin-top: 0px;
    font-size: 1.5em;
  }
  
.TextBox-intro {
    margin-top: 0px;
    font-size: 15pt;
    min-height: 30px;
}

.TextBox-card{
    background-color: rgba(255, 255, 255, 0.78)
}