div.PlainText{
	height: 100%;
    width: 100%;
    overflow-y:auto;
    overflow-x: hidden;
}
div#ScrollWrapper,div.BacklogText
{
	position: absolute;
	height: 100%;
	overflow: hidden;
    color: white;
    font-size: 1.6em; 
    display: block;
    z-index: 1002;
    top: 10vh;
    width: 60vw;
    height: 80vh;
    left: 20vw;
}

div#ScrollWrapper{
    overflow: hidden;
}
div.BacklogText{
    overflow: auto;
}
p#backlogtextp,p#plaintextp{
    padding-bottom:1.12vh;
}
.BacklogContainer{
    z-index: 1002;
    position: absolute;
    z-index: 1002;
    color: white;
}

p#BacklogTitle{
    position: absolute;
    font-size: 3.2em;
    left:3vw;
    top: 3vh;
}