/* .App {
  text-align: center;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  height: 150px;
  padding: 20px;
  color: rgb(0, 0, 0);
} */

.App-title {
  text-align: center;
  margin-top: 0px;
  font-size: 1.5em;
}

.App-intro {
  margin-top: 0px;
  font-size: 17pt;
}

.GameViewFade-enter{
  opacity: 0.01;
}
.GameViewFade-enter.GameViewFade-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}
.GameViewFade-appear {
  opacity: 0.01;
}
.GameViewFade-appear.GameViewFade-appear-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}
.GameViewFade-leave {
  opacity: 1;
}
.GameViewFade-leave.GameViewFade-leave-active {
  opacity: 0.01;
  transition: opacity 700ms ease-in;
}

