/* div.CardFramework{
	position: relative;
	overflow: hidden;
	border-style:solid;
	border-width: 1px;
	border-color: #e8e8e8;
	height:auto;
	width:100%;
}

div.CardFramework:hover{
	box-shadow: 2px 4px 6px #e8e8e8;
}
div.SaveDataInfo{
	display: block;
	padding-top: 4px;
	padding-left: 4px;
}
p.TimeStamp{
	font-size: 1.2em;
}
div.CardContainer{
	display: flex;
	height: 20vh;
	position: relative;
} */

.SaveDataPanelContainer{
	margin: 24px 0px;
	background: #fff !important;
	padding: 16px;
	max-height:75vh;
	overflow:auto;
}

.SaveDataContainer {
	border: 0.5px solid #e8e8e8;
	overflow: hidden;
	position: relative;
	border-color: #e8e8e8;
	height:auto;
	width:100%;
  }
  .ScreenShot {
	width: 100%;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
  }
  .SaveDataContainer:hover {
	box-shadow: 2px 4px 4px#e8e8e8;
  }
  .SaveDataInfo{
	  height: 1px;
  }
  