.CharacterFade-enter{
	opacity: 0.01;
  }
.CharacterFade-enter-active {
	opacity: 1;
	transition: opacity 400ms linear;
  }
  .CharacterFade-appear {
	opacity: 0.01;
  }
.CharacterFade-appear-active {
	opacity: 1;
	transition: opacity 400ms linear;
  }
  .CharacterFade-exit {
	opacity: 1;
  }
.CharacterFade-exit-active {
	opacity: 0.01;
	transition: opacity 400ms linear;
  }
  
div.CharacterImage{
  align-items:center;
  justify-content:center;
  display: flex;
  display: -webkit-flex;
  height: 100vh;
}

@import "../../../res/Resources/Character/CharacterStyle.less";
  
