
div.Scene{
    box-sizing:content-box; 
    width: 100%;
    height: -webkit-fill-available;
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
    background-color: rgb(255, 255, 255);
  }

div.SelectionMask {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.6;
    opacity: .60;
    filter: alpha(opacity = 70);
}

div.SelectionMaskOn {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.6;
    opacity: .60;
    filter: alpha(opacity = 70);
}

