
div.SceneBackground,div.LoadingPage,div.Scene{
    box-sizing:content-box; 
    width: 100%;
    position: absolute;
    height: 100%;
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
    background-color: rgb(0, 0, 0);
  }
div.SelectionMaskOn {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    -moz-opacity: 0.6;
    opacity: .60;
}
.SceneBGFade-enter{
    /* opacity: 0.01; */
  }
  .SceneBGFade-enter.SceneBGFade-enter-active,.SceneBGFade-appear.SceneBGFade-appear-active {
    /* opacity: 1;
    transition: opacity 5000ms linear; */
    -webkit-animation-name: FadeInAndOut;
    -webkit-animation-duration: 500ms;
    -webkit-animation-direction: normal;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
  }
  .SceneBGFade-appear {
    /* opacity: 0.01; */
  }
  .SceneBGFade-appear.SceneBGFade-appear-active {
    /* opacity: 1;
    transition: opacity 5000ms linear; */
  }
  .SceneBGFade-leave {
    /* opacity: 1; */
  }
  .SceneBGFade-leave.SceneBGFade-leave-active {
    /* opacity: 0.01;
    transition: opacity 5000ms linear; */
    -webkit-animation-name: FadeInAndOut;
    -webkit-animation-duration: 500ms;
    -webkit-animation-direction: reverse;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
  }
@-webkit-keyframes FadeInAndOut{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
